body {
    padding: 0;
    margin: 0;
}
body.minecraft {
    background: url("img/minecraft/bg.png");
}
.wrapper {
    max-width: 600px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 5px;
}
.app.load:before {
    content: " ";
    position: absolute;
    background: url(img/loader.gif) no-repeat;
    background-size: 100% 100%;
    width: 360px;
    height: 240px;
    left: 50%;
    margin-left: -180px;
    top: 0;
}
.header {
    text-align: center;
}
.form-control {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    display: block;
    margin: 5px 0;
    font-size: 25px;
}
.form-control:focus {
    outline: 0;
    border-color: #7a7a7a;
}
.border-green {
    border-color: #00b900;
}
.border-red {
    border-color: #ff1f1f;
}
.btn {

}
.minecraft .btn {
    background: url(img/minecraft/btn.png);
    background-size: contain;
    color: #6bcb2f;
    text-shadow: 1px 1px 2px rgb(0 0 0);
    -webkit-box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 75%);
    cursor: pointer;
    border: 0;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 10px 0;
}
.minecraft .progress-bar:after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 40px;
    background: url(img/minecraft/lava.jpg);
    background-size: auto 100%;
    bottom: -10px;
}
.minecraft .progress-bar:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 40px;
    background: url(img/minecraft/cobblestone.jpg);
    background-size: auto 100%;
    bottom: -10px;
}
.minecraft .progress-bar .finish {
    position: absolute;
    width: 46px;
    height: 100px;
    background: url(img/minecraft/steve.png) no-repeat;
    background-size: auto 100%;
    bottom: -10px;
    top: 0;
    right: 0;
    z-index: 10;
}.minecraft .progress-bar .progress-now {
    position: absolute;
    width: 60px;
    height: 100px;
    background: url(img/minecraft/zombie.png) no-repeat;
    background-size: auto 100%;
    bottom: -10px;
    top: 0;
    left: 0;
    z-index: 10;
}